body.modern-dark {
	--background: #18181b;
	--background-1: #27272a;
	--background-2: #3f3f46;
	--background-3: #52525b;
	--foreground: #fbfbfb;

	--primary: var(--blue-500);
	--primary-light: var(--blue-400);

	--button: var(--blue-600);
	--button-hover: var(--blue-700);

	--secondary: #1fe467;
	--secondary-light: #4ade80;

	--tertiary: var(--pink-400);
	--tertiary-light: var(--pink-300);

	// Reset the default Jupiter UI values just in case.
	--ui: #18181b;
	--ui-1: #27272a;
	--ui-2: #3f3f46;
	--ui-3: #52525b;
	--text-color: #fbfbfb;
	--accent: var(--blue-600);
	--accent-500: var(--blue-600);
	--accent-hover: var(--blue-700);
	--accent-600: var(--blue-700);
}