@use './mixins';

.h-button.accent-button,
.h-button.primary-button,
.h-button.secondary-button,
.h-button.tertiary-button {
	&:hover {
		transform: translateY(-2px);
	}

	&:focus {
		box-shadow: none !important;
	}
}

.h-button.accent-button {
	background-color: var(--button) !important;

	&:hover {
		background-color: var(--button-hover) !important;
	}
}

.h-button.primary-button {
	background-color: var(--accent-500) !important;

	&:hover {
		background-color: var(--accent-600) !important;
	}
}

.h-button.secondary-button {
	background-color: var(--secondary) !important;

	&:hover {
		background-color: var(--secondary) !important;
		transform: translateY(-2px);
	}
}

.h-button.tertiary-button {
	background-color: var(--tertiary) !important;

	&:hover {
		background-color: var(--tertiary) !important;
		transform: translateY(-2px);
	}
}

.h-dropdown-menu {
	background-color: var(--background-2) !important;

	& button.gray {
		&:hover, &:focus {
			background-color: var(--button) !important;
			
			&:not(.selected), &:not(.selected) div span {
				color: white !important;
			}
		}

		&.selected {
			background-color: var(--background-3);

			&:hover {
				background-color: var(--button) !important;
			}
		}
	}
}

.h-label, .h-label span {
	color: var(--foreground) !important;
	opacity: 0.8;
}

.h-select-trigger {
	min-width: 6rem;
	display: flex !important;
	justify-content: space-between !important;
	align-items: center !important;
	background-color: var(--background-2) !important;

	&:hover {
		background-color: var(--background-3) !important;
	}

	&:focus {
		@include mixins.ring-shadow(var(--background), var(--button));
	}
}

.h-box-label {
	color: var(--foreground) !important;
	opacity: 0.7;
}

.h-checkbox.accent {
	&.active {
		background-color: var(--button) !important;
		border-color: var(--button) !important;
	}

	&:focus {
		box-shadow: 
			var(--ui) 0px 0px 0px 2px, 
			var(--button) 0px 0px 0px 4px,
			rgba(0, 0, 0, .1) 0px 4px 6px -1px,
			rgba(0, 0, 0, .06) 0px 2px 4px -1px
		!important;
	}
}

.h-label-container {
	width: 100%;
}

.setting-block .h-select-trigger {
	width: 100%;
}