@use '../mixins';

.button {
	padding: 0.5rem 1rem;
	border-radius: 0.4rem;
	background-color: var(--button);
	color: white;
	font-size: 0.875rem;
	font-weight: 500;
	transition: var(--d-m-1) var(--e-s);

	&:hover {
		background-color: var(--button-hover);
	}
	
	&:focus {
		@include mixins.ring-shadow(var(--background), var(--button));
	}

	// Size
	&.sm {
		padding: 0.5rem 0.75rem;
		font-size: 12px;
	}
	&.lg {
		padding: 0.75rem 1.25rem;
		font-size: 1rem;
	}

	// Variants
	&.secondary {
		background-color: var(--background-1);
		color: var(--foreground);

		&:hover {
			background-color: var(--background-2);
		}
	}

	&.ghost {
		background-color: var(--background);
		color: var(--foreground);

		&:hover {
			background-color: var(--background-1);
		}
	}
}