nav {
	width: 100%;
	height: 4rem;
	padding-left: var(--result-gutter);
	background-color: var(--ui);
	border-bottom: 1px solid var(--ui-2);
	position: relative;

	& .wrapper {
		width: 100%;
		height: 100%;
		padding: 0 2rem 0 0;
	}

	& .logo {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--text-color);
		padding: 0 2rem;

		& > div {
			border-radius: 0.25rem;
			background-color: transparent;
			padding: 0.5rem 0.75rem;
			transition: var(--d-m-2) var(--e-s);
		}

		&:focus, &:hover {
			outline: none;

			& > div {
				background-color: var(--blue-600);
			}
		}

		& p {
			margin-bottom: 0;
			font-size: 1.15rem;
			line-height: 1;
			font-family: monospace;
			font-weight: 500;
		}
	}
}

@media only screen and (max-width: 550px) {
	nav {
		height: auto;
		padding-left: 0;
		padding: 0 0 1rem 0;

		& .wrapper {
			padding: 0;
		}

		& .logo {
			position: relative;
			padding: 1rem;
		}

		& .primary-grid-block {
			align-items: center !important;
			justify-content: center !important;
			flex-direction: column !important;
			padding: 0 2rem;
		}
	}
}