.settings-button {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	background-color: var(--background);
	color: var(--foreground);
	cursor: pointer;
	border-radius: 0.5rem;
	padding: 0.35rem 0.75rem;
	transition: var(--d-m-1) var(--e-s);

	& p {
		font-size: 0.875rem;
		font-weight: 500;
	}

	&:hover, &:focus {
		background-color: var(--background-1);
	}

	&.icon-only {
		padding: 0.35rem;
	}
}

.setting-block {
	& .label {
		text-transform: capitalize;
		font-size: 0.875rem;
		font-weight: 500;
		opacity: 0.9;
	}
}

@media only screen and (max-width: 991px) {
	.buttons.grid-2 {
		grid-template-columns: 1fr 1fr !important;
	}
}

.settings-modal-grid {
	row-gap: 1.5rem;
}